/* Add Global styles here */
body {
    background-color: lightcyan;
    color: purple;
    font-family: cursive;
}
.omelette-subpage {
    background-color: lavenderblush;
    color: purple;
    font-family: cursive;
}
h1 {
    margin: 30px;
    border: solid 3px rgb(255, 192, 227);
    padding: 9px;
    border-radius: 10px;
    display: inline-block;
    background-color: white;
}
h2 {
    margin: 30px;
    font-size: 25px;
    font-family: monospace;
    border: dotted 3px orange;
    padding: 9px;
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(255, 255, 231);
}
.omelette-h2 {
    border: dotted 3px ;
    background-color:azure;
}
h3 {
    font-size: 25px;
    text-decoration: underline;
    margin: 30px;
}
.intro {
    font-family: monospace;
    font-size: 22px;
    margin: 30px;
    width: 95%;
}
p {
    font-family: monospace;
    font-size: 22px;
    margin: 30px;
}
.websites {
    margin: 30px;
    width: 1250px;
}
img {
    width: 400px;
    height: 400px;
    border: solid plum 5px;
    border-radius: 30px;
    margin: 30px;
    clear: both;
    float: right;
}

.desc {
    float: left;
}
.omelette {
    float: left;
}
.poached {
    clear: left;
}
hr {
    background-color: rebeccapurple;
    width: 95%;
    height: 1px;
    margin: 20px;
}
a {
    color: purple;
    margin: 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.navbar {
    position: sticky;
    top: 0;
}
.navbar ul {
    list-style-type: none;
    background-color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: solid 1px rgb(235, 214, 235);
}
.navbar a {
    text-decoration: none;
    font-family: cursive;
    padding: 20px;
    display: block;
    text-align: center;
    margin: 0px;
}
.navbar a:hover {
    background-color: lavender;
}
.navbar li {
    float: left;
}
.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    margin-left: 30px;
}

.fa:hover {
    color: plum;
}
.ingredients {
    font-size: 25px;
    margin: 30px;
    
}
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
.sunny-instructions {
    font-size: 23px;
    margin: 30px;
}
table, th, td {
    padding: 5px;
    font-size: 23px;
    border: solid  rgb(255, 192, 227) 2px;
    border-collapse: collapse;
    margin: 30px;
    width: auto;
    background-color: white;
}