/* Add Global styles here */
body {
  background-color: lightcyan;
  color: purple;
  font-family: cursive;
}
.omelette-body {
  background-color: lavenderblush;
  font-family: cursive;
  border: dashed plum 3px;
  border-radius: 15px;
}
.sunny-body {
  background-color: cornsilk;
  border: dashed plum 3px;
  border-radius: 15px;
}
.poached-body {
  background-color: rgb(223, 253, 230);
  border: dashed plum 3px;
  border-radius: 15px;
}
h1 {
  margin: 30px;
  border: solid plum;
  border-width: 3px;
  padding: 9px;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
}
h2 {
  margin: 30px;
  font-size: 25px;
  font-family: monospace;
  border: dotted 3px orange;
  padding: 9px;
  border-radius: 10px;
  display: block;
  width: fit-content;
  background-color: rgb(255, 255, 231);
}
.sunny-h2 {
  display: block;
  width: fit-content;
  border-color: plum;
  background-color: white;
}
.omelette-h2 {
  border: dashed 3px rgb(255, 192, 227);
  background-color:white;
}
.poached-h2 {
  border: dashed plum 3px;
  background-color: azure;
}
h3 {
  font-size: 25px;
  text-decoration: underline;
  margin: 30px;
}
p {
  font-family: monospace;
  font-size: 22px;
  margin: 30px;
}
.intro {
  font-family: monospace;
  font-size: 22px;
  margin: 30px;
  width: 95%;
}
.websites {
  margin: 30px;
  width: 1250px;
}
img {
  width: 400px;
  height: 400px;
  border: solid plum 5px;
  border-radius: 30px;
  margin: 30px;
  float: right;
}
.sunny-img {
  float: right;
}
.sunny-img img {
  clear: none;
  height: 300px;
}
.shaker-img {
  border: none;
  width: fit-content;
}
.sunny-img2 {
  float: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.sunny-img2 img {
  border-color: rgb(242, 224, 132);
  width: 30%;
  height: 250px;
  margin-left: 0;
  margin-right: 0;
}
.omelette-img {
  float: none;
  width: fit-content;
}
.poached-img {
  width: fit-content;
  border-color: lightblue;
}
.poaching-eggs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.poaching-eggs img {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-color: lightblue;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.sunny {
  float: left;
}
.omelette {
  float: left;
}
.poached {
  clear: left;
}
hr {
  background-color: rebeccapurple;
  width: 95%;
  height: 1px;
  margin: 20px;
}
a {
  color: purple;
  margin: 30px;
  font-size: 20px;
  font-family: sans-serif;
}
.back-button:link, .back-button:visited {
  background-color: azure;
  color: purple;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: dotted powderblue 2px;
  border-radius: 10px;
  margin: 30px;
  font-size: 18px;
}
.back-button:hover, .back-button:active {
  background-color: powderblue;
}
ol {
  font-size: 20px;
  margin: 30px;
}
.sunny-ol {
  font-size: 23px;
  margin: 30px;
}
ul {
  font-size: 23px;
  margin: 30px;
  display: inline-block;
}
.info-button {
  background-color: azure;
  border: dotted powderblue 2px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 30px;
  color: purple;
  font-size: 18px;
}
.info-button:hover {
    background-color: powderblue;
}
.navbar {
  position: sticky;
  top: 0;
}
.navbar ul {
  list-style-type: none;
  background-color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: solid 1px rgb(235, 214, 235);
}
.navbar a {
  text-decoration: none;
  font-family: cursive;
  padding: 20px;
  display: block;
  text-align: center;
  margin: 0px;
}
.navbar a:hover {
  background-color: lavender;
}
.navbar li {
  float: left;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  margin-left: 30px;
  margin-bottom: 30px;
}

.fa:hover {
  color: plum;
}
table, th, td {
  padding: 5px;
  font-size: 23px;
  border: solid  rgb(255, 192, 227) 2px;
  border-collapse: collapse;
  margin: 30px;
  width: auto;
  background-color: white;
}
* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}
.img-magnifier-container img {
  float: none;
}
.img-magnifier-glass {
  position: absolute;
  border: 3px solid plum;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}